<p style="color: green"><%= notice %></p>

<h1>Interactions</h1>

<div id="interactions">
  <% @interactions.each do |interaction| %>
    <%= render interaction %>
    <p>
      <%= link_to "Show this interaction", interaction %>
    </p>
  <% end %>
</div>

<%= link_to "New interaction", new_interaction_path %>
